<div class="w3-bar w3-indigo">
    <div class="w3-bar-item">
        <span style="text-shadow:1px 1px 0 #444">Angular</span>
    </div>
    <div class="w3-dropdown-hover">
        <button class="w3-button">Modulos</button>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a routerLink="/task-list" class="w3-bar-item w3-button">Task List</a>
            <a routerLink="manual-chg-detection" class="w3-bar-item w3-button">Manual Change detection</a>
            <a routerLink="/counter" class="w3-bar-item w3-button">Counter</a>
            <a routerLink="/reactividad" class="w3-bar-item w3-button">Reactividad</a>
            <a routerLink="/task-signals" class="w3-bar-item w3-button">Task Signals</a>
            <a routerLink="/counter-ngrx" class="w3-bar-item w3-button">Counter NgRx</a>
            <a routerLink="/shopping-redux" class="w3-bar-item w3-button">Shopping Redux</a>
            <a routerLink="/kanban-firebase" class="w3-bar-item w3-button">Kanban Firebase</a>
            <a routerLink="/lista-alumnos" class="w3-bar-item w3-button">Lista de Alumnos</a>
        </div>
    </div>
</div>

