<h1>Task Signals</h1>

<table class="w3-table-all">
    <tr>
        <th>ID</th>
        <th>Text</th>
        <th>Completed</th>
        <th>
            <button class="w3-button" (click)="openModal='block' ">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </th>
    </tr>
    @for(task of tasks();track task.id){
        <tr>
            <td>{{ task.id}}</td>
            <td>{{ task.text }}</td>
            <td>
                @if(task.completed) { <span> [ Done ] </span> }
                @else { <span> [To do] </span> }
            </td>
            <td>
                <button class="w3-button" (click)="editTask(task)">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button class="w3-button" (click)="removeTask(task.id)">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
    }
</table>

<!-- The Modal -->
<div class="w3-modal" [ngStyle]="{'display': openModal }">
    <div class="w3-modal-content">
        <header class="w3-container w3-light-grey">
            <span (click)="openModal='none' "
            class="w3-button w3-display-topright">&times;</span>
        </header>
        <div class="w3-container w3-light-grey">
            <br>
            <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
                <div>
                    <label for="text">Text</label>
                    <input type="text" class="w3-input" id="text" formControlName="text">
                    @if(taskForm.get('text')?.invalid && ( taskForm.get('text')?.dirty
                     || taskForm.get('text')?.touched) ){
                        @if(taskForm.get('text')?.hasError('required')){
                            <div class="w3-text-red w3-small">Text is required</div>
                        }
                        @if(taskForm.get('text')?.hasError('minlength')){
                            <div class="w3-text-red w3-small">Text must be at least 3 characters long</div>
                        }
                    }
                </div>
                <div>
                    <input type="checkbox" class="w3-check" id="completed" formControlName="completed">
                    <label for="completed"> Done</label>
                </div>
                <br>
                <button type="submit" [disabled]="!taskForm.valid"  class="w3-button w3-indigo">Save</button>
            </form>
            <br>
        </div>
    </div>
</div>