
<div class="w3-container">
    <p>Counter: {{ counter }}</p>
    <div class="w3-bar">
        <div class="w3-bar-item">
            <button class="w3-button w3-indigo" (click)="increment()">Increment</button>
        </div>
        <div class="w3-bar-item">
            <button class="w3-button w3-red" (click)="toggleAutoUpdate()">Toggle Auto Update</button>
        </div>
    </div>
</div>
