<div class="w3-sidebar w3-bar-block w3-animate-right"
 [ngStyle]="{'display':displaySidebar,'width':'300px','right':'0px'}">
    <button class="w3-button" (click)="displaySidebar='none' "> My Cart &times;</button>
    <app-cart-list></app-cart-list>
</div>


<div class="w3-bar">
    <button (click)="displaySidebar='block' " class="w3-button w3-bar-item w3-right w3-large">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        &nbsp;<span class="w3-badge w3-red">
            <!-- | async se suscribe al observable, ? verificamos si el objeto es null o undefined   -->
            {{ (myCart$ | async)?.length }}
        </span> 
    </button>
</div>
