
<h1>Task List</h1>

<ul class="w3-ul">
    @for (task of tasks; track task.text){
        <li> {{ task.text }} 
            @if(task.completed) { <span> [ Done ]</span> } 
            @else { <span>[ To do ]</span> }
        </li>
    }
</ul>
