
<div class="w3-container">

    <h2> Counter NgRx : {{ count$ | async }}</h2>

    <div class="w3-margin-top w3-bar">
        <button class="w3-button w3-indigo w3-bar-item w3-margin-right" (click)="increment()">
            Increment
        </button>
        <button class="w3-button w3-green w3-bar-item w3-margin-right" (click)="decrement()">
            Decrement
        </button>
        <button class="w3-button w3-red w3-bar-item w3-margin-right" (click)="reset()">
            Reset
        </button>
    </div>

</div>
