<div class="w3-container w3-margin-top">

    <div class="w3-row">
        <div class="w3-col s12 m4 l4">
            <div class="drag-container"
            (drop)="drop($event,'backlog')" (dragover)="allowDrop($event)">
                <div class="w3-bar">
                    <div class="w3-bar-item">
                        <h4>Backlog</h4>
                    </div>
                    <div class="w3-bar-item w3-right">
                        <button class="w3-button" (click)="onAdd()">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                @for(itm of tareas;track itm.id){
                    @if(itm.estado == 'backlog'){
                        <div draggable="true" (dragstart)="dragStart($event,itm)">
                            <app-tarea [tarea]="itm" (editar)="editarTarea($event)" (eliminar)="eliminarTarea($event)"></app-tarea>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="w3-col s12 m4 l4">
            <div class="drag-container"
            (drop)="drop($event,'in-process')" (dragover)="allowDrop($event)">
            <h4>In-process</h4>
            @for(itm of tareas;track itm.id){
                @if(itm.estado == 'in-process'){
                    <div draggable="true" (dragstart)="dragStart($event,itm)">
                        <app-tarea [tarea]="itm" (editar)="editarTarea($event)" (eliminar)="eliminarTarea($event)"></app-tarea>
                    </div>
                }
            }
            </div>
        </div>
        <div class="w3-col s12 m4 l4">
            
            <div class="drag-container"
            (drop)="drop($event,'done')" (dragover)="allowDrop($event)">
            <h4>done</h4>
            @for(itm of tareas;track itm.id){
                @if(itm.estado == 'done'){
                    <div draggable="true" (dragstart)="dragStart($event,itm)">
                        <app-tarea [tarea]="itm" (editar)="editarTarea($event)" (eliminar)="eliminarTarea($event)"></app-tarea>
                    </div>
                }
            }
            </div>
        </div>
    </div>

</div>

<div class="w3-modal" [ngStyle]="{'display': openModal}">
    <div class="w3-modal-content">
        <header class="w3-container w3-teal">
            <span (click)="openModal='none' " class="w3-button w3-display-topright">&times;</span>
            <h5>Tarea</h5>
        </header>
        <div class="w3-container">
            <form [formGroup]="form" (ngSubmit)="onRegistrarTarea()" class="w3-container w3-margin-top">
                <label class="w3-text-teal">Titulo:</label>
                <input class="w3-input" formControlName="titulo" type="text">
                @if(form.get('titulo')?.hasError('required') && form.get('titulo')?.touched ){
                <div class="w3-text-red w3-small">
                    Titulo es requerido
                </div>
                }
                <label class="w3-text-teal">Descripcion:</label>
                <input class="w3-input" formControlName="descripcion" type="text">
                @if(form.get('descripcion')?.hasError('required') && form.get('descripcion')?.touched){
                <div class="w3-text-red w3-small">
                    Descripcion es requerido
                </div>
                }
                <br>
                <button [disabled]="!form.valid" type="submit" class="w3-button w3-teal">Registar</button>
            </form>
            <br>
        </div>
    </div>
</div>

{{ tareas | json }}
