<div class="w3-container">
    <h2>Primer caso :</h2>
    <p>Counter : {{ counter }}</p>
    <button class="w3-button w3-teal" (click)="increment()">Increment</button>
</div>
<div class="w3-container">
    <h2>Segundo caso :</h2>
    <p>Counter Interval : {{ counterInterval }} </p>
</div>
<div class="w3-container">
    <h2>Tercer caso :</h2>
    <p>Counter Observable : {{ counterObs$ | async }}</p>
</div>

